
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float:left;
  text-shadow: 10px 10px 14px;
  text-align: center; 
}

li a {
  display: block;
  text-align:center;
  padding: 12px 12px;
  text-decoration:none;
}
#az {
	 border-radius:15px;
	 border: 2px solid grey;
	 padding: 15px;
	 width: 400px; height: 300px;
	 background-color:yellow; 
}
h2{
  text-shadow: 10px 10px 10px;
  text-align: center;
}
h1{
 text-shadow: 10px 10px 10px;
 text-align: center;
}

body{
  background-image: linear-gradient(white,red,green);
}